# Системні папки Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Папки збірки
build/
dist/
*.egg-info/

# Тимчасові дані та конфіги з особистими даними
latest_brawler_data.json
cfg/match_history.toml
cfg/login.toml