# Віртуальне середовище
venv/
env/
ENV/

# Кеш Python
__pycache__/
*.py[cod]
*$py.class

# Логи та системні файли
*.log
.DS_Store

# (Опціонально) Якщо моделі дуже важкі, їх теж не заливають, 
# але якщо вони до 100мб, можеш поки залишити